@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .hero__inner {
    background-image: url('../images/hero-bgi@2x.jpg');
    background-image: url('../images/hero-bgi-tablet@2x.jpg');
    background-image: url('../images/hero-bgi-mobile@2x.jpg');
  }

  .collection__inner {
    background-image: url('../images/collection-bgi-tablet@2x.png');
    background-image: url('../images/collection-bgi-mobile.png');
  }
}