.site-footer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto 88px;
  padding: 48px 48px;
  background-color: #2C343E;
}

.site-footer__inner {
  @include super-flex;
  flex-direction: row;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.site-footer__content {
  @include super-flex;
  flex-direction: row;
}

.nav--footer {
  margin-left: 103px;
}

.nav__link-footer:hover {
  color: #FEFCF7;
}

.socials {
  @include super-flex;
}

.socials__item+.socials__item {
  margin-left: 24px;
}

.socials__hover:hover>#Path {
  background-color: #FDD6BA;
}

@include media (900px){
  .nav--footer{
    margin-left: 50px;
  }
}

@include media (840px){
  .nav--footer{
    margin-left: 30px;
  }

  .nav__item--footer + .nav__item--footer{
    margin-left: 20px;
  }
}

@include media (800px){
  .socials__item + .socials__item{
    margin-left: 15px;
  }
}

@include media (780px) {

  .site-footer {
    width: 100%;
    max-width: 688px;
    margin-bottom: 72px;
  }

  .site-footer__inner {
    flex-direction: column;
  }

  .site-footer__content {
    flex-direction: column;
  }

  .nav--footer {
    margin: 34px auto 65px;
  }
}

@include media (580px) {

  .site-footer {
    width: 100%;
    max-width: 327px;
    margin: 0 auto 72px;
    padding: 54px 0;
  }

  .nav--footer {
    display: block;
  }

  .nav__list--footer {
    flex-direction: column;
  }

  .nav__item--footer+.nav__item--footer {
    margin-top: 24px;
    margin-left: 0;
  }
}